page-detalle-pedidos {
    agm-map {
        height: 70%;
        box-shadow: 3px 3px 15px #000;
      }
    p{
        font-size: 1.2em !important;
    }
}
.bg-red{
	color:#000;
	font-weight: 800;
	background-color: red;
	font-size: 1.2em;
}
.bg-red-t{
	color:#fff !important;
	font-weight: 800;
	background-color: red;
	font-size: 1.2em;
	margin-right: 13px;
}

.bg-blue{
    color:#000;
	font-weight: 800;
	background-color: blue;
	font-size: 1.2em;
}

.bg-green{
    color:#000;
	font-weight: 800;
	background-color: green;
	font-size: 1.2em;
}
p{
    font-size: .9em !important;
}
