ion-content {
    background: #eab92d;
    background: -moz-linear-gradient(-45deg, #eab92d 0%, #c79810 100%);
    background: -webkit-linear-gradient(-45deg, #eab92d 0%, #c79810 100%);
    background: linear-gradient(135deg, #eab92d 0%, #c79810 100%);
}